@use "../abstracts/index" as *;

/* General
============================================================== */

.flat-spacing-1 {
    padding-top: 130px;
    padding-bottom: 130px;

    @include res(xxl) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include res(lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.flat-spacing-2 {
    padding-top: 136px;
    padding-bottom: 130px;

    @include res(xxl) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include res(lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.flat-spacing-3 {
    padding-top: 0;
    padding-bottom: 132px;

    @include res(xxl) {
        padding-top: 0;
        padding-bottom: 80px;
    }

    @include res(lg) {
        padding-top: 0;
        padding-bottom: 60px;
    }
}

.flat-spacing-4 {
    padding-top: 0;
    padding-bottom: 60px;
}

.flat-spacing-5 {
    padding-top: 130px;
    padding-bottom: 149px;

    @include res(xxl) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include res(lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.flat-spacing-6 {
    padding-top: 0;
    padding-bottom: 130px;

    @include res(xxl) {
        padding-top: 0;
        padding-bottom: 80px;
    }

    @include res(lg) {
        padding-top: 0;
        padding-bottom: 60px;
    }
}

.flat-spacing-7 {
    padding-top: 130px;
    padding-bottom: 133px;

    @include res(xxl) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include res(lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.flat-spacing-8 {
    padding-top: 0;
    padding-bottom: 141px;

    @include res(xxl) {
        padding-top: 0;
        padding-bottom: 80px;
    }

    @include res(lg) {
        padding-top: 0;
        padding-bottom: 60px;
    }
}

.flat-spacing-9 {
    padding-top: 0;
    padding-bottom: 102px;

    @include res(xxl) {
        padding-top: 0;
        padding-bottom: 80px;
    }

    @include res(lg) {
        padding-top: 0;
        padding-bottom: 60px;
    }
}

/* Margin */
.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-70 {
    margin-top: 70px;
}


.mb-6 {
    margin-bottom: 6px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-9 {
    margin-bottom: 9px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-28 {
    margin-bottom: 28px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-47 {
    margin-bottom: 47px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-52 {
    margin-bottom: 52px;
}

.mb-53 {
    margin-bottom: 53px;
}

.mb-56 {
    margin-bottom: 56px !important;
}

.mb-58 {
    margin-bottom: 58px;
}

.mb-59 {
    margin-bottom: 59px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-64 {
    margin-bottom: 64px;
}


.mb-70 {
    margin-bottom: 70px !important;
}

.mb-73 {
    margin-bottom: 73px;
}


/* Padding */


/* Gap */

.g-7 {
    gap: 7px;
}

.g-10 {
    gap: 10px !important;
}

.g-20 {
    gap: 20px !important;
}

.g-30 {
    gap: 30px !important;
}

.rg-15 {
    row-gap: 15px !important;
}

.rg-30 {
    row-gap: 30px !important;
}

.rg-50 {
    row-gap: 50px;
}


.rg-60 {
    row-gap: 60px;
}

.color-title {
    color: var(--color-title);
}

.color-paragraph {
    color: var(--color-paragraph);
}

.color-white {
    color: var(--white);
}

.color-text-3 {
    color: var(--color-text-3);
}

.letter-space-0 {
    letter-spacing: 0em !important;
}

.letter-space--1 {
    letter-spacing: -0.01em;
}

.letter-space--2 {
    letter-spacing: -0.02em;
}

.letter-space--3 {
    letter-spacing: -0.03em;
}

.letter-space--4 {
    letter-spacing: -0.04em !important;
}


.letter-space--5 {
    letter-spacing: -0.05em;
}

.letter-space--7 {
    letter-spacing: -0.07em;
}

.z-5 {
    z-index: 5;
}

.border-radius-30 {
    border-radius: 30px !important;
}


/*-- Responsive --*/