@use "../../abstracts/index" as *;

.meta-post {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 30px;

    .meta-item {
        position: relative;
        padding-left: 15px;
        color: var(--color-paragraph);
        letter-spacing: -0.02em;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 5px;
            height: 5px;
            transform: translateY(-50%);
            background-color: var(--color-paragraph);
            @include transition3;
        }

        &.item-color-blue {
            color: var(--ai-startup-blue);

            &::before {
                background-color: var(--ai-startup-blue);
            }
        }

        &.item-color-white {
            color: var(--white);

            &::before {
                background-color: var(--white);
            }
        }

        &.item-color-title {
            color: var(--color-title);

            &::before {
                background-color: var(--color-title);
            }
        }
    }
}

.post-grid {
    .image {
        margin-bottom: 12px;
        border-radius: 20px;

        img {
            width: 100%;
            height: auto;
            object-fit: over;
            border-radius: 20px;
        }
    }

    .meta-post {
        margin-bottom: 12px;
    }

    .name-post {
        margin-bottom: 12px;
        text-decoration-line: underline;
        text-decoration-color: transparent;
        text-underline-offset: 1px;
        color: var(--color-title);

        &:hover {
            text-decoration-color: var(--color-title);
        }
    }

    @include res(lg, min) {
        .post-content {
            max-width: 750px;
        }

        .image {
            margin-bottom: 28px;
        }

        .name-post {
            margin-bottom: 20px;
        }
    }

    &.no-desc {
        .image {
            margin-bottom: 0;
        }

        .post-content {
            margin-top: -56px;
            margin-left: 10px;
            margin-right: 10px;
            padding: 20px 30px;
            background-color: var(--white);
            position: relative;
            z-index: 2;
            box-shadow: 10px 4px 60px 0px #94949440;
            border-radius: 20px;
        }

        .name-post {
            margin-bottom: 12px;
        }

        .meta-post {
            margin-bottom: 0;
            gap: 0 32px;
        }

        &.style-dark {
            .post-content {
                background-color: transparent;
                background: linear-gradient(180deg, rgba(6, 6, 6, 0.45) 0%, rgba(56, 56, 56, 0.4) 100%);
                backdrop-filter: blur(30px);
                position: relative;
                box-shadow: unset;
                @include transition3;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    padding: 1px;
                    border-radius: inherit;
                    background: linear-gradient(134.16deg, rgba(255, 255, 255, 0.2) 2.68%, rgba(255, 255, 255, 0.1) 30.48%);
                    pointer-events: none;
                    -webkit-mask:
                        linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);

                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                }
            }

            .name-post {
                color: var(--white);

                &:hover {
                    text-decoration-color: var(--white);
                }

            }

            .meta-item {
                color: var(--white);

                &::before {
                    background-color: var(--white);
                }
            }

            &:hover {
                .post-content {
                    background: var(--ai-startup-blue);
                }
            }
        }

        @include res(llg) {
            .post-content {
                padding: 20px 15px;
            }
        }
    }

    &.style-2 {
        padding: 10px;
        border: 1px solid var(--color-border-1);
        border-radius: 14px;
        backdrop-filter: blur(20px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include transition3;

        .post-content {
            padding: 16px 20px 40px;
        }

        .meta-post {
            margin-bottom: 9px;
        }

        .image {
            border-radius: 14px;
            margin-bottom: 0;

            img {
                border-radius: 14px;
            }
        }

        .desc {
            color: var(--color-paragraph);
        }

        &:hover {
            background: var(--color-bg-1);

            .name-post {
                text-decoration-color: var(--color-title);
            }
        }

        @include res(lg) {
            .post-content {
                padding: 15px 0;
            }
        }

        &.style-dark {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(153, 153, 153, 0.021) 100%);
            backdrop-filter: blur(20px);
            border-color: var(--color-border-3);
            .name-post {
                color: var(--white) !important;
            }

            .desc {
                color: var(--color-text-2);
            }

            &:hover {
                .name-post {
                    text-decoration-color: var(--white);
                }
            }
        }

    }
}

.section-blog-standard {
    .post-grid {
        margin-bottom: 30px;

        @include res(lg, min) {
            margin-bottom: 50px;
        }
    }
}

.list-categories-item {
    .item {
        position: relative;
        padding-left: 15px;
        color: var(--color-paragraph);

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            transform: translateY(-50%);
            background-color: var(--color-paragraph);
        }

        &:hover {
            color: var(--ai-startup-blue);

            &::before {
                background-color: var(--ai-startup-blue);
            }
        }
    }

    li {
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.sidebar-content {
    padding: 35px 30px;
    border: 1px solid var(--color-border-2);
    border-radius: 14px;

    &.sidebar-categories {
        padding: 33px 28px 31px;

        .title {
            margin-bottom: 24px;
        }
    }

    &.sidebar-recent-post {
        padding: 33px 28px 46px;

        .title {
            margin-bottom: 24px;
        }

        .list-blog {
            .post-list-small {
                padding-bottom: 27px;
                border-bottom: 1px solid var(--color-border-2);
                margin-bottom: 28px;

                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-color: transparent;
                }
            }
        }
    }

    &.sidebar-tags {
        padding: 33px 28px 34px;

        .title {
            margin-bottom: 27px;
        }
    }
}

.post-list-small {
    display: flex;
    gap: 30px;
    align-items: center;

    .image {
        max-width: 80px;
        display: block;
        border-radius: 10px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    span {
        display: block;
    }

    .post-meta {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 7px;

        i {
            font-size: 24px;
        }
    }

    .post-content {
        max-width: 212px;
    }

    .title {
        @include transition3;
        text-decoration-line: underline;
        text-decoration-color: transparent;
        text-underline-offset: 1px;

        &:hover {
            color: var(--digital-marketing-blue);
            text-decoration-color: var(--digital-marketing-blue) !important;
        }
    }
}

.sidebar-filter {
    @include res(xl) {
        position: fixed;
        bottom: 0;
        z-index: 3000;
        display: flex;
        flex-direction: column;
        background-clip: padding-box;
        outline: 0;
        background-color: var(--white) !important;
        padding: 30px 15px !important;
        @include transition3();
        overflow: auto;
        max-width: 400px;
        width: 100%;

        &.left {
            top: 0;
            left: 0;
            transform: translateX(-100%);
        }

        &.right {
            top: 0;
            right: 0;
            transform: translateX(100%);
        }

        &.show {
            transform: none;
        }
    }
}

.blog-details-content {
    .text {
        @include res(xl, min){
            max-width: 821px;
        }
    }
    .image {
        border-radius: 20px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.benefit-item {
    display: flex;
    align-items: center;
    gap: 7px;

    i {
        font-size: 20px;
    }
}

.item-social {
    width: 46px;
    height: 46px;
    @include flex(center, center);
    border-radius: 50%;
    border: 1px solid var(--color-border-2);
    position: relative;

    i {
        color: var(--color-paragraph);
        position: relative;
        @include transition3;
        z-index: 2;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0%;
        height: 0;
        border-radius: 50%;
        background-image: var(--ai-startup-gradient);
        @include transition3;
    }

    &:hover {
        border-color: transparent;

        i {
            color: var(--white);
        }

        &::after {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}